@model IEnumerable<CS2ARonaldAbel_MVCPROJECT.BusLogic.Model.tblStudent>
<div>
    <table class="table">
        <section class="table__primary">
            <h2>Student Information</h2>
            <a class="btn btn-primary m-2" href="/Student/AddStudent">Add New Student</a>
        </section>
        <thead>
            <tr>
                <th scope="row">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">Course</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var student in Model)
                {
                    <tr>
                        <td scope="row">@student.Id</td>
                        <td>@student.FirstName</td>
                        <td>@student.LastName</td>
                        <td>@student.Age</td>
                        <td>@student.Course</td>
                        <td>
                            <a href="/Student/EditStudent/@student.Id" class="btn btn-warning m-2">Edit</a>
                            <a asp-action="DeleteStudent" asp-route-id="@student.Id" class="btn btn-danger m-2">Delete</a>
                        </td>
                    </tr>
                }
            }
                
        </tbody>
    </table>
</div>